* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #005f73;
    color: white;
    padding: 20px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo h1 {
    text-align: center;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #94d2bd;
}

section.post {
    padding: 50px 20px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin: 30px 10px;
    border-radius: 8px;
}

section.post h1 {
    text-align: center;
    color: #005f73;
    margin-bottom: 30px;
}

.post-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.postsp img {
    max-width: 350px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.detalhes {
    max-width: 500px;
}

.titulo h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.codigo {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.preco p {
    font-size: 20px;
    color: #005f73;
    margin-bottom: 10px;
}

.cor p {
    font-size: 16px;
    margin-bottom: 10px;
}

#color {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.comprar {
    margin-top: 20px;
}

.btn-comprar {
    background-color: #94d2bd;
    color: #005f73;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    margin-top: 10px; /* Adicionado para espaçamento */
}

.btn-comprar:hover {
    background-color: #005f73;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

section.descricao {
    padding: 40px 20px;
    background-color: #f0f0f0;
    margin: 20px 10px;
    border-radius: 8px;
}

section.descricao h2 {
    color: #005f73;
    margin-bottom: 15px;
}

section.descricao p {
    color: #333;
    line-height: 1.8;
}

footer {
    background-color: #005f73;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}


/*PAYMANTS*/
.container{
    display: none;
    opacity: 0; /* Inicia com opacidade 0 */
    transform: translateY(-20px); /* Inicia um pouco acima */
    transition: opacity 0.8s ease, transform 0.8s ease; /* Transição suave */
}
#mensagemSucesso {
    display: none; /* Inicialmente oculto */
    margin-top: 20px;
    color: green;
    font-weight: bold;
}

.container.active{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    min-height: 100vh;
    opacity: 1; /* Torna totalmente visível */
    transform: translateY(0); /* Restaura à posição original */
   
}
  
  .container form{
    padding:20px;
    width:700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    border-radius: 5px;
  }
  
  .container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
  }
  
  .container form .row .col{
    flex:1 1 250px;
  }
  /*titulo pagamento*/
  .container form .row .col .title{
    font-size: 20px;
    color:#333;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  /*todos os quadrados*/
  .container form .row .col .inputBox{
    margin:15px 0;
  }
  
  .container form .row .col .inputBox span{
    margin-bottom: 10px;
    display: block;
  }
  
  .container form .row .col .inputBox input{
    width: 100%;
    border:1px solid #005f73;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
  }
  /*destaque nas bordas*/
  .container form .row .col .inputBox input:focus{
    border:1px solid #000;
  }
  
  .container form .row .col .flex{
    display: flex;
    gap:15px;
  }
  
  .container form .row .col .flex .inputBox{
    margin-top: 5px;
  }
  /*img cartoes*/
  .container form .row .col .inputBox img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
  }
  /*botao finalizar compra*/
  .container form .submit-btn{
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: #005f73;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
    transition: background-color .1s ease;
  }
  
  .container form .submit-btn:hover{
    background: #2ecc70;
  }


