* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #005f73;
    color: white;
    padding: 20px 0;
}

.logo h1 {
    text-align: center;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}



@keyframes animate-outline {
    from {
        outline: 0px solid  #94d2db; 
    }
    to {
        outline: 15px solid #4f9bf900; 
    }

}

.btn{
    background-color:#005f73;
    padding: 9px 12px; /*tamanho da borda dos botoes*/
    border-radius: 10px; /*arredonda teu botao */ /*botao do mouse em cimam do btn */
    transition: 0.1s; /*tempo de transicao do botao*/

}
.btn .animate-btn{
    animation: animate-outline 1s ease-out infinite; /*animacao infinita do btn*/
}

.btn:hover{
    background-color: #94d2bd ; /*mudar do da animacao do botao*/

}


.post {
    padding: 50px 20px;
    text-align: center;
}

.post h1 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #005f73;
}

.post-container {
    display: flex;
    width: 80%;
    margin: auto;
    gap: 50px;
    flex-wrap: wrap;
}

.postsp {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    margin: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.postsp img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.detalhes {
    width: 400px;
    height: 500px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: start;
    flex-direction: column;
    border: 0.7px solid #005f73;
    text-align: left;
    gap: 50px;
}

.detalhes .titulo {
    color: #000000;
    margin: 2px;
}

.titulo p {
    font-size: 12px;
    margin: 2px;
    color: #000000;
}

.preco #avista {
    font-size: 18px;
    margin: 2px;
    color: #000000;
}

.preco #cartao {
    font-size: 12px;
    margin: 2px;
    color: #000000;
}

.cor {
    font-size: 14px;
    margin: 2px;
    padding: 2px;
    color: #000000;
}

.cor #color {
    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 50px;
}










.descricao {
    width: 60%;
    margin: auto;
    text-align: center;
}

.descricao p {
    margin: 5px;
}

footer {
    background-color: #005f73;
    color: white;
    padding: 20px 0;
    text-align: center;
}